@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
 * {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 body {
	 align-items: center;
	 background: #d8aa96;
	 color: rgba(0, 0, 0, .8);
	 display: grid;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 14px;
	 font-weight: 400;
    
	 height: 70vh;
	 justify-items: center;
	 weight: 100vw;
}

 .signup-container {
	 display: grid;
	 grid-template-areas: "left right";
	 max-width: 900px;
}
 .left-container {
	 background: #807182;
	 overflow: hidden;
     height: 190%;
	 padding: 40px 0 0 0;
	 position: relative;
	 text-align: center;
	 width: 300px;
}
 .left-container h1 {
	 color: rgba(0, 0, 0, .8);
	 display: inline-block;
	 font-size: 24px;
}
 .left-container h1 i {
    
	
	 border-radius: 50%;
	 color: #807182;
	 font-size: 24px;
	 margin-right: 8px;
	 padding: 10px;
	 transform: rotate(-90deg);
}
 .left-container .puppy {
	 bottom: -5px;
	 position: absolute;
	 text-align: center;
}
 .left-container .puppy:before {
	 background: #807182;
	 content: "";
	 height: 100%;
	 left: 0;
	 opacity: 0.4;
	 position: absolute;
	 width: 100%;
	 z-index: 1;
}
 .left-container img {
	 filter: sepia(100%);
	 width: 70%;
}
 .right-container {
	 background: #f9c7c2;
     height: 190%;
	 display: grid;
	 grid-template-areas: "." ".";
	 width: 500px;
     
}

input[type=range]{
    -webkit-appearance: none;
    background: #f9c7c2;
    z-index: 1;
   
}

input[type=range]::-webkit-slider-runnable-track {
    
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background:#807182;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
  
    
    
  

  
 .right-container h1:nth-of-type(1) {
	 color: rgba(0, 0, 0, .8);
	 font-size: 28px;
	 font-weight: 600;
}
 .right-container .set {
	 display: flex;
	 justify-content: space-between;
	 margin: 10px 0;
}
 .right-container input {
	 border: 1px solid rgba(0, 0, 0, .1);
	 border-radius: 4px;
	 height: 38px;
	 line-height: 38px;
	 padding-left: 5px;
}
 .right-container input, .right-container label {
	 color: rgba(0, 0, 0, .8);
}
 .right-container header {
	 padding: 40px;
}
 .right-container label, .right-container input, .right-container .pets-photo {
	 width: 176px;
}
 .right-container .pets-photo {
	 align-items: center;
	 display: grid;
	 grid-template-areas: ". .";
}
 .right-container .pets-photo button {
	 border: none;
	 border-radius: 50%;
	 height: 38px;
	 margin-right: 10px;
	 outline: none;
	 width: 38px;
}
 .right-container .pets-photo button i {
	 color: rgba(0, 0, 0, .8);
	 font-size: 16px;
}
 .right-container .pets-weight .radio-container {
	 display: flex;
	 justify-content: space-between;
	 width: 100%;
}
.right-container footer {
    position: relative;
   top: 54.9%;
    height: 100px;
 
        

   
    align-items:center;
    
            
    background: #fff;
    display: grid;
    padding: 5px 40px;
}
 .right-container footer button {
	 border: 1px solid rgba(0, 0, 0, .2);
	 height: 38px;
	 line-height: 38px;
	 width: 100px;
	 border-radius: 19px;
	 font-family: 'Montserrat', sans-serif;
}
 .right-container footer #back {
	 background: #fff;
	 transition: 0.2s all ease-in-out;
}
 .right-container footer #back:hover {
	 background: #171a2b;
	 color: white;
}
 .right-container footer #next {
	 background: #807182;
	 border: 1px solid transparent;
	 color: #fff;
}
 .right-container footer #next:hover {
	 background: #171a2b;
}
 .pets-name label, .pets-breed label, .pets-birthday label, .pets-gender label, .pets-spayed-neutered label, .pets-weight label {
	 display: block;
	 margin-bottom: 5px;
}
.a1{
    position:absolute;
    top:37.6%;
    left:59%;
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}
.a2{
    position:absolute;
    top:37.6%;
    left:73.9%;
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}
.a3{
    position:absolute;
    top:48.5%;
    left:59%;
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}
.a4{
    position:absolute;
    top:48.5%;
    left:73.9%;
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}
.a5{
    position:absolute;
    top:61.5%;
    left:59%;
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}
.a6{
    position:absolute;
    top:61%;
    left:73.9%;
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}

.v1{
   
    position:absolute;
    top:33%;
  left: 47%;
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}
.v2{
   
    position:absolute;
    top:36.5%;
    left:47%;
 
}

.v3{
   
    position:absolute;
    top:33%;
    left:62%;
    
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}

.v4{
    position:absolute;
    top:36.5%;
    left:62%;

}
.v5{
   
    
    position:absolute;
    top:44%;
    left: 47%;
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}
.v6{
    
    position:absolute;
    top:47.5%;
    left: 47%;

}
.v7{
   
    position:absolute;
    top:44%;
    left:62%;
    
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}
.v8{
   
    position:absolute;
    top:47.5%;
    
    left:62%;
    
  
}
.v9{
   
    position:absolute;
    top:56%;
    left:47%;
    
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}
.v10{
   
    position:absolute;
    top:60%;
    
    left: 47%;
    
  
}
.v11{
   
    position:absolute;
    top:56%;
    left:62%;
    
    font-size: medium;
    color: rgba(0, 0, 0, .8);
	font-weight: 600;
}
.v12{
   
    position:absolute;
    top:60%;
    
    left:62%;
    
  
}

 
 